*{
    margin: auto;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #f4f4f4;
}

.profile{
    border: solid black;
    border-radius: 100%;
    margin-top: 50px;
}

.job{
    padding-top: 10px;
}

.education, .skills, .certifications{
    padding-top: 25px;
}

.socials{
    padding-top: 25px;
    display: flex;
    display: inline-flex;
}

.linkedin, .resume{
    padding-left: 5px;
    padding-right: 5px;
}

.education{
    padding-top: 25px;
}

.college, .college_major{
    padding-top: 10px;
}

.skill_1, .skill_2, .skill_3, .skill_4{
    padding-top: 10px;
}

.cert_1{
    margin-top: 10px;
    margin-bottom: 25px;
}

.portfolio_button{
    margin-top: 0px;
    margin-bottom: 50px;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.portfolio_button:hover{
    transition: .15s;
    cursor: pointer;
    opacity: .7;
}

a:link, a:visited, a:active{
    color: black;
    text-decoration: none;
}

a:hover{
    color: black;
    text-decoration: underline;
}

